.border
{
    -fx-border-color: black;
    -fx-border-width: 5px;
}

#txaInfo
{
    -fx-border-color: black;
    -fx-border-width: 5px;
}

.keys
{
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-width: 5px;
    -fx-border-style: solid;
}

/*#pnlStatus
{
    -fx-border-color: black;
    -fx-border-width: 5px;
}*/

/*.button
{
    -fx-border-radius: 10px;
    -fx-background-color: orange;
    -fx-border-color: orangered;
    -fx-border-width: 3px;
    -fx-border-style: solid;
}

.button:hover
{
    -fx-border-radius: 10px;
    -fx-background-color: orangered;
    -fx-border-color: darkred;
    -fx-border-width: 3px;
    -fx-border-style: solid;
}

.button:pressed
{
    
}*/